header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 25%;
    background: #666666;
    box-sizing: border-box;
    
}
body{
    background: white;
}
h1{
    margin-right: auto;
    color: beige;
}
nav{
    display: flex;
    margin-left: auto;
    color: black;
    border: bisque 1px;
}
nav>a{ 
    color: beige;
    text-decoration: none;
    padding: 5%;    
}
.top{
    padding: 2px;
    height: 315px;
    width: 215px;
    display: flex;
    display: inline-block;
  
}
footer{
    background: black;
}